## dataset stuff

In [15]:
import pandas as pd
df = pd.read_csv('dataset.csv')

In [16]:
# formatting
df = df.drop("student_id", axis=1)

In [17]:
from sklearn.utils import shuffle
df = shuffle(df)

In [18]:
# Display the first few rows of the dataset to verify its contents
df.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
12110,19,other,b.com,0.20,55.4,yes,9.1,poor,online videos,high,moderate,29.2
18823,19,male,bca,7.16,59.2,yes,8.2,good,coaching,medium,moderate,81.9
3628,23,male,ba,3.48,67.8,no,9.6,good,group study,low,moderate,66.1
9512,20,male,ba,6.98,79.0,yes,4.4,poor,group study,high,moderate,81.7
8225,23,female,bca,4.50,48.6,no,4.9,poor,group study,low,moderate,53.3

## tensorflow model prep

In [19]:
import tensorflow as tf
from tensorflow import keras
from keras import *

/usr/local/python/3.12.1/lib/python3.12/site-packages/keras/src/export/tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):